<!DOCTYPE html>
<html>
<head>
    <title>Session Hijacking</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Session Hijacking</h1>
    <p>Entrez le Session ID volé :</p>
    <input id="session_id" placeholder="Collez le Session ID ici" type="text"><br><br>
    <button onclick="hijackSession()">Hijacker la session</button>
    <p id="error"></p>
</div>

<script src="{{ url_for('static', filename='hijack.js') }}"></script>

</body>
</html>